<!DOCTYPE html>
{% load static %}
<html>
<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<title>Task | Client Details</title>

</head>
<body>
<div class="container " style="width: 200vw;text-align: center; ">
    <div class="row " style="width: 50%; margin-left: 250px; ">
<form>
<h1>Client Details</h1>
	<table border="1" style="" class="table">
		<tr>
		<th>Name</th>
		<th>Company </th>
		<th>Phone</th>
		<th>Email</th>
		
		</tr>
			{% for i in keyM %}
		<tr>

			<td>{{i.full_name}}</td>
			<td>{{i.company}}</td>
			<td>{{i.phone}}</td>
			<td>{{i.email}}</td>

		</tr>
			{% endfor %}

	</table>
<p>{{tot}}</p>
</form>
</div></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-
</body>
</html>